body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    overflow: auto;
    display: flex;
    justify-content: space-between; /* Umieszcza elementy na przeciwnych krańcach kontenera */
    align-items: center;
    width:100%;
    min-height: 850px;
    flex-shrink: 0;
    background: var(--Deep-Brown, #221009);
    position: relative; /* Dodane, aby umożliwić pozycjonowanie dzieci */
}

.logo_big {
    width: 870px;
    height: 130px;
    display: inline-flex;
    left: 25%;
    flex-direction: column;
    align-items: flex-start;
    background: url(images/logo_big.png) no-repeat;
    position: fixed;
    top: 108px; /* Przykładowa wartość przesunięcia w górę */
    z-index: 9998; /* Upewnij się, że logo jest na wierzchu */
    transform: translateX(-50%);
    transition: top 1.2s ease-in-out;
}

.home_img {
    float: left;
    width: 1332px;
    height: 749px;
    background: url(images/home.png) no-repeat;
    position: absolute; /* Dodane, aby pozycjonować względem rodzica */
    bottom: 0; /* Przesunięcie do dolnej krawędzi rodzica */
    left: 0; /* Przesunięcie do lewej krawędzi rodzica */
}

.intro {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center; /* Wyśrodkowanie treści w poziomie */
    align-items: center; /* Wyśrodkowanie treści w pionie */
    padding: 0;
    background: var(--Dark-Beige, #F1C69F);
}

.intro-content {
    max-width: 785px; /* Maksymalna szerokość treści intro-content */
    width: 100%;
    color: var(--Deep-Brown, #221009);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.36px;
    padding: 100px 20px 105px; /* Dostosowanie wewnętrznego odstępu */
    text-align: left; /* Tekst zacznie się od lewej strony */
}

.oferta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Deep-Brown, #221009);
}
.content-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Maksymalna szerokość zawartości */
    margin: 0 auto; /* Wyśrodkowanie zawartości */
}

.image-content {
    flex: 1; /* Elastyczność - obrazek zajmie dostępną przestrzeń */
    background: url(images/jonny-gios-ayh8xpNMRn4-unsplash.png) lightgray 50% / cover no-repeat;
    width: 710px;
    height: 1065px;
    flex-shrink: 0;
}

.text-content {
    padding-top: 200px !important;
    padding-right: 137px !important;
    flex: 1; /* Elastyczność - tekst zajmie dostępną przestrzeń */
    color: var(--White, #FFF);
    /* Display 2 */
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.28px;
    width: 438px;
}


.hero-content {
    z-index: 1;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 84px;
    flex-shrink: 0;
    background: var(--Deep-Brown, #221009);
     z-index: 900;; /* Wartość z-indeksu dla nawigacji */
}

.logo_mini {
    width: 278px; /* Dostosuj szerokość logo_mini */
    height: 32px; /* Dostosuj wysokość logo_mini */
    background: url(images/logo_mini.png) no-repeat;
    position: fixed;
    top: -180px;
    z-index: 9999;
    transition: top 1.2s ease-in-out;
}

.main-nav ul {
 align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Ustawia elementy od lewej do prawej */
}

.main-nav li {
    margin-left:8px;
}

.main-nav a {
    text-decoration: none;
    padding-left: 32px;
    padding-top: 30px;
    display: inline-block;
    background: var(--Deep-Brown, #221009);
    border: var(--Deep-Brown, #221009);
    transition: background-color 0.3s;
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}

.text-block {
    margin-left: 20px; /* Dostosowanie odstępu między obrazem a tekstem */
    float: right;
}

